.container {
  max-width: $website-width;
  margin: auto;
  overflow: hidden;
  padding: 0 30px;
}
.name {
  margin-bottom: 20px;
}
.label {
  font-family:'Libre Baskerville', sans-serif;
  color:#333;
}
// Photo section title
.crazy {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 1.5rem;
  color:green;
  text-transform: uppercase;
}
.lead {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 10px;
  text-align: justify;
  color: $dark-color;
}
.text-center {
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  color: $dark-color;
  font-family: "Dosis", sans-serif;
  margin:10px 0;
}
.bottom-line {
  background: $dark-color;
  height: 1px;
  width: 4rem;
  display: block;
  margin: 0 auto 1rem auto;
}

// button

%btn-shared {
  display: inline-block;
  padding: 0.5rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #333;
}
.btn {
  &-main {
    @extend %btn-shared;
    background: transparent;
    color: #333;
  }
  &-medium {
    @extend %btn-shared;
    background: $medium-color;
    color: $dark-color;
  }
  &-secondary {
    @extend %btn-shared;
    background: $secondary-color;
    color: $dark-color;
  }
  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: $dark-color;
  }
  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: $light-color;
  }
}
button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  // background:$main-color;
  background: $dark-color;
  color: #fff;
}
.btn-round {
  display: inline-block;
  padding: 15px 30px;
  // border-radius:50%;
  background: gray;
  color: $dark-color;
  border: none;
  color: #fff;
}
// .btn-services {
//   display: inline-block;
//   padding: 15px 30px;
//   border-radius:50%;
//   background: transparent;
//   color: $dark-color;
//   border:1px solid #333; 

// }

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}
// Margin
.my {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// background

.bg {
  &-main {
    background: $main-color;
    color: #333;
  }
  &-medium {
    background: $medium-color;
    color: #333;
  }
  &-secondary {
    background: $secondary-color;
    color: $light-color;
  }
  &-light {
    background: $light-color;
    color: #fff;
  }
  &-dark {
    background: $dark-color;
    color: #fff;
  }
  &-primary {
    background: #f8ecde;
    color: #333;
  }
  
}

// Stars
.stars {
  margin: 30px 0;
}
.star {
  margin-right: 10px;
  font-size: 20px;
}
