// variables

$website-width: 1280px;
$main-color: #ffa500;
// $secondary-color:#CCB18D; 
$secondary-color:#FDF3E8;
$primary-color:#F8ECDE;
// $medium-color: #ccc;
$medium-color:#E7D1B5;
$light-color: #f4f4f4;
$dark-color: #333;

