@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background: #fff;
  scroll-behavior: smooth;
  overflow: auto;
}

a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Showcase */

.showcase { 
  position:relative; 
height:100vh; 
width:100%; 
background:url(../img/img18.jpg) no-repeat center center/cover;

}
.lanscape-title{ 
  display:none; 
}
.showcase-title, .showcase-title1{ 
  /* height:100%; */
  padding-top:75px; 
  color:#fff; 
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  font-size:55px;
  left:30%;
  text-transform: uppercase;
  font-family: Dosis,'sansriff';
  overflow:none; 
  z-index:10;

   
}
.showcase-title1{ 

  color:#fff; 
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  font-size:55px;
  left:30%;
  text-transform: uppercase;
  font-family: Dosis,'sansriff';
  overflow:none; 
  z-index:10;
  margin-left:150px;
   
}
.showcase-img { 
  position:absolute; 
  top:20px; 
  width:200px; 
  height:200px; 
  top:20px; 
  left:280px; 

}
.showcase-img1 { 
  position:absolute; 
  top:20%; 
  width:200px; 
  height:200px; 
  left:450px; 

}
.showcase-img2 { 
  position:absolute; 
  top:20px; 
  width:200px; 
  height:200px; 
  left:80%; 

}
.showcase-img3 { 
  position:absolute; 
  top:30%; 
  width:200px; 
  height:200px; 
  left:70%; 

}
.showcase-img4 { 
  position:absolute; 
  top:50%; 
  width: 200px; 
  height:200px; 
  left:600px; 

}


// main-nav
.navbar {
  background-color: black;
  .nav-item {
    padding: 1rem 1.5rem;

    &-link {
      padding: 1rem 3rem;
    }
    .nav-link:hover {
      color: #ccc;
    }
  }
}
// LOGO
.lg-4{ 
  height:100px; 
  width:150px ; 
}
.lg-5{ 
  height:500px; 
  width:600px; 
  
}
// HOme B

#home {
  top:40%; 
  &-a{ 
    height:100vh; 
    background:black; 
    color:#fff;
    overflow-x:none;
    position:relative; 
   

    .row { 
      display:flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      // background:url(../img/lg5.jpeg) no-repeat center center/cover; 
      opacity:.8; 
      z-index:10;
    }
    .profile { 
      position:absolute; 
      top:200px; 
      left:300px; 
      height:400px; 
      width:350px; 
      object-fit:cover; 

    }
    .ig { 
      display:flex; 
      flex-direction:column ; 
      color:#fff; 
      justify-content: center;
      align-items: center;; 
      text-align:center; 
      margin-top:20px;

    }
   .social .fab{ 
    color:white;
    margin-right:10px; 
    font-size:30px;
    margin-top:40px;
   }
   .fab:hover{ 
     color:tomato; 
   }
  
  }
  &-b {
    background:black; 
    color:#fff;
    position: relative;
    min-height: 200px;
    background: url(../img/img19.jpg) no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    overflow: hidden;

    .dark-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  &-c{ 
    background:black; 
    color:#fff;

    .btn{ 
      margin-bottom:20px;
    }
  }
 
}

// About

#about {
  &-a {
   
    height: 200px;
    background: url(../img/img24.jpg) no-repeat center center/cover; 
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
    position: relative;
    overflow: hidden;

    .dark-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &-b {
    background:black; 
    color:#fff;
    .row {
      .about-img {
        margin-top: -50px;
      }
    }
  }
  &-c{ 
    background:black; 
    color:#fff;
  }
}


// Services
// Portrait
.service-title { 
  font-weight:300; 
  margin-bottom:40px;
  font-family: 'Libre Baskerville', sens-serif; 
}
#portrait {
  &-a {
    font-family: 'Libre Baskerville', sens-serif; 
    height: 100%;
    background: black;

    .portrait-service {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4rem;
    }
    .portrait-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background:#333; 
    }
  }
}
// Gallery

#gallery{

  background:black;
  color:#fff;
}

// Contact

#contact {
  &-a {
    background: black;
    .contact-title {
      height: 150px;
      margin-top: 40px;
      color: #fff;
    }
    .row {
      background: white;
    }
  }

  &-b {
    background: black;
    color: #fff;

    a {
      color: #fff;
    }
    .contact-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      padding: 50px;
    }
    .contact-individual {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .fas {
        margin-bottom: 20px;
      }
    }
  }
}
#main-footer {
  background: black;
  color: #fff;
  height: 7rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      text-align: center;
      padding: 0.5rem;
      color: #fff;

      &:hover {
        background: $main-color;
      }
    }
  }
}

 #nav { 
   display:none; 
 }
// import Media Queriess

@import "media";
