// Tablets & Smaller

@media (max-width: 800px) {

  

//   Mobile
@media (max-width: 500px) {


  // Showxcase Carousel

.carousel-item {
  height: 20rem;

  h1{
    font-size:20px;
  }
}
.carousel-image-2{
  background-position:0 0; 

}

  
  // contact 

  #contact-b{ 
      .contact-info{ 
        grid-template-columns: 1fr;
      }    
      .contact-individual{ 
        margin-bottom:10px;
      }
  }
  .contact-title{ 
    h1{ 
      font-size:30px;
      padding-top:30px;

    }
  }

  #main-footer {
    height: 7rem;
    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 7rem;
      .social {
        padding: 0.5rem;
      }
    }
  }

}
}
